#container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  #skycontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #map-container {
    z-index: 1; /* Ensure the map is on top of the sky */
  }